<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="$!webPath/resources/style/app/comm/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="$!webPath/resources/js/app/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="$!webPath/resources/js/app/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="$!webPath/resources/style/app/comm/font-awesome.min.css">

    <!-- 样式 -->
    <link href="$!webPath/resources/style/app/comm/mystyle.css" rel="stylesheet">

</head>
<body class="dl-body">



<!--头部-->
<div class="ny-top1 dl-top2">
    <div class="ny-top-left"><A href="javascript:history.go(-1);"><img src="$!webPath/resources/style/app/images/ny-top-left.png" class="img-responsive"></A>  </div>
    <div class="ny-top-cen"><h2>登录</h2></div>
    <div class="ny-top-right">&nbsp </div>
    <div style="clear: both;"></div>
</div>


<!--内容1-->

<div class="wy07-div">
    <div class="wy07-div1">
        <form>
            <ul>
                <li><div class="wy07-div2"><input type="text" placeholder="请输入名称"></div></li>
                <li><div class="wy07-div2 wy07-div2-1"><input type="password" placeholder="请输入密码"></div></li>
                <li class="wy07-li"><div class="wy07-div3"> <button type="submit" class="btn">提交</button></div></li>
                <li class="wy07-li"><A href="$!webPath/app/findPwd.htm"> <h5><span>忘记密码？</span></h5></A></li>
            </ul>
        </form>
    </div>
</div>

<!--底部-->





<!--js基本样式-->
<script type="text/javascript" src="$!webPath/resources/js/app/jquery.min.js"></script>
<script type="text/javascript" src="$!webPath/resources/js/app/bootstrap.min.js"></script>



</body>
</html>