<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- css3 checkbox 美化 -->
    <link rel="stylesheet" type="text/css" href="css/style2.css" />

    <!-- 样式 -->
    <link href="css/mystyle.css" rel="stylesheet">

</head>
<body>

<!--头部-->
<div class="ny-top1 wy18-ny-top1">
    <div class="ny-top-left">&nbsp</div>
    <div class="ny-top-cen"><h2>购物袋</h2></div>
    <div class="ny-top-right ny18-top-right"><A href=""><h5>完成</h5></A>  </div>
    <div style="clear: both;"></div>
</div>


<!--内容1-->
<form>
    <div id="holder">
        <ul class="wy18-ul">
            <li>
                <div class="wy18-left">
                    <div><input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label></div>
                </div>
                <div class="wy18-cen"><img src="images/wy18-cen.png" class="img-responsive"> </div>
                <div class="wy18-right">
                    <h4 class="wy18-right-h4-1">e grenier de vivi 浅绿色花样女士斜挎包 vivì 03d</h4>
                    <h4 class="wy18-right-h4-2">颜色：花色</h4>
                    <div class="wy18-right1">
                        <div class="wy18-right1-left">
                            <h4>¥ 1,599</h4>
                        </div>
                        <div class="wy18-right1-right">
                            <div class="p_number">
                                <div class="f_l add_chose">
                                    <a class="reduce" onClick="setAmount.reduce('#qty_item_1')" href="javascript:void(0)">-</a>
                                    <input type="text" name="qty_item_1" value="1" id="qty_item_1" onKeyUp="setAmount.modify('#qty_item_1')" class="text" />
                                    <a class="add" onClick="setAmount.add('#qty_item_1')" href="javascript:void(0)">+</a>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="wy18-left">
                    <div><input type="checkbox" id="checkbox-1-2" class="regular-checkbox" /><label for="checkbox-1-2"></label></div>
                </div>
                <div class="wy18-cen"><img src="images/wy18-cen.png" class="img-responsive"> </div>
                <div class="wy18-right">
                    <h4 class="wy18-right-h4-1">e grenier de vivi 浅绿色花样女士斜挎包 vivì 03d</h4>
                    <h4 class="wy18-right-h4-2">颜色：花色</h4>
                    <div class="wy18-right1">
                        <div class="wy18-right1-left">
                            <h4>¥ 1,599</h4>
                        </div>
                        <div class="wy18-right1-right">
                            <div class="p_number">
                                <div class="f_l add_chose">
                                    <a class="reduce" onClick="setAmount.reduce('#qty_item_2')" href="javascript:void(0)">-</a>
                                    <input type="text" name="qty_item_2" value="1" id="qty_item_2" onKeyUp="setAmount.modify('#qty_item_2')" class="text" />
                                    <a class="add" onClick="setAmount.add('#qty_item_2')" href="javascript:void(0)">+</a>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="wy18-left">
                    <div><input type="checkbox" id="checkbox-1-3" class="regular-checkbox" /><label for="checkbox-1-3"></label></div>
                </div>
                <div class="wy18-cen"><img src="images/wy18-cen.png" class="img-responsive"> </div>
                <div class="wy18-right">
                    <h4 class="wy18-right-h4-1">e grenier de vivi 浅绿色花样女士斜挎包 vivì 03d</h4>
                    <h4 class="wy18-right-h4-2">颜色：花色</h4>
                    <div class="wy18-right1">
                        <div class="wy18-right1-left">
                            <h4>¥ 1,599</h4>
                        </div>
                        <div class="wy18-right1-right">
                            <div class="p_number">
                                <div class="f_l add_chose">
                                    <a class="reduce" onClick="setAmount.reduce('#qty_item_3')" href="javascript:void(0)">-</a>
                                    <input type="text" name="qty_item_3" value="1" id="qty_item_3" onKeyUp="setAmount.modify('#qty_item_3')" class="text" />
                                    <a class="add" onClick="setAmount.add('#qty_item_3')" href="javascript:void(0)">+</a>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="wy18-left wy18-left1">
                    <div class="wy18-left1-div1"><input type="checkbox" id="checkbox-1-4" class="regular-checkbox" /><label for="checkbox-1-4"></label></div>
                    <div class="wy18-left1-div2"><h3>全选</h3></div>
                    <div style="clear: both;"></div>
                </div>
                <div class="wy18-right1-div">
                    <ul>
                        <li><a href=""><h4>移入收藏</h4></a></li>
                        <li class="wy18-right1-div-li1"><a href=""><h4>删除</h4></a></li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>

                <div style="clear: both;"></div>
            </li>
        </ul>
    </div>
</form>






<!--底部-->

<div class="db1"></div>
<div class="db">
    <ul>
        <li>
            <a href="$!webPath/app/index.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li1.png" class="img-responsive"> </div>
                <h5>首页</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxClassic.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li2.png" class="img-responsive"> </div>
                <h5>分类</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxBrands.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li3.png" class="img-responsive"> </div>
                <h5>品牌</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxGoodsCar.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li4.png" class="img-responsive"> </div>
                <h5>购物车</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxMyInfo.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li5.png" class="img-responsive"> </div>
                <h5>我的</h5>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>



<!--js基本样式-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>



<!--商品加减-->
<script type="text/javascript" src="js/payfor.js"></script>

</body>
</html>