<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="$!webPath/resources/style/app/comm/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="$!webPath/resources/style/app/comm/font-awesome.min.css">

    <!-- 样式 -->
    <link href="$!webPath/resources/style/app/comm/mystyle.css" rel="stylesheet">

</head>
<body>

<!--头部-->


<div class="gr-nr1">
    <div class="gr-div1">
        <div class="gr-div1-right"><a href=""><img src="$!webPath/resources/style/app/images/wy24-img2.png" class="img-responsive"> </a> </div>
        <div style="clear: both;"></div>
    </div>
    <h2>HI，欢迎来到奢侈生活</h2>
    <div class="gr-div2">
        <ul>
            <li><a href="$!webPath/app/login.htm"><h5>登陆</h5></a> </li>
            <li><a href="$!webPath/app/register.htm"><h5>注册</h5></a> </li>
            <div style="clear: both;"></div>
        </ul>
    </div>
</div>


<!--内容1-->
<div class="gr-nr2">
    <div class="gr-nr2-div1">
        <h4 class="gr-h4">全部订单</h4>
    </div>
    <div class="gr-nr2-div2">
        <ul>
            <li>
                <a href="">
                    <div class="gr-nr2-div2-img"><img src="$!webPath/resources/style/app/images/gr-nr2-div2-img1.png" class="img-responsive"> </div>
                    <h6>待付款</h6>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="gr-nr2-div2-img"><img src="$!webPath/resources/style/app/images/gr-nr2-div2-img2.png" class="img-responsive"> </div>
                    <h6>待收货</h6>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="gr-nr2-div2-img"><img src="$!webPath/resources/style/app/images/gr-nr2-div2-img3.png" class="img-responsive"> </div>
                    <h6>待评价</h6>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="gr-nr2-div2-img"><img src="$!webPath/resources/style/app/images/gr-nr2-div2-img4.png" class="img-responsive"> </div>
                    <h6>退换货</h6>
                </a>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>
</div>


<!--内容2-->
<div class="gr-nr3">
    <div class="gr-nr3-div1">
        <a href="">
            <h5 class="gr-h5">我的订单 <span>所有订单&nbsp;&gt;</span></h5>
        </a>
    </div>
</div>


<!--内容3-->
<div class="gr-nr3">
    <div class="gr-nr3-div1">
        <a href="">
            <h5 class="gr-h5 gr-h5-2">我的钱包 <span>余额优惠券 / 礼品卡 / 积分&nbsp;&gt;</span></h5>
        </a>
    </div>
    <div class="gr-nr3-div1">
        <a href="">
            <h5 class="gr-h5 gr-h5-3">我的收藏 </h5>
        </a>
    </div>
    <div class="gr-nr3-div1">
        <a href="">
            <h5 class="gr-h5 gr-h5-4">地址管理 </h5>
        </a>
    </div>
</div>


<!--内容3-->
<div class="gr-nr3">
    <div class="gr-nr3-div1">
        <a href="">
            <h5 class="gr-h5 gr-h5-5">设置</h5>
        </a>
    </div>
    <div class="gr-nr3-div1">
        <a href="">
            <h5 class="gr-h5 gr-h5-6">帮助中心 </h5>
        </a>
    </div>
</div>

<style>
    body{padding-top:0;}
</style>


<!--底部-->
<div class="db1"></div>
<div class="db">
    <ul>
        <li>
            <a href="">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li1.png" class="img-responsive"> </div>
                <h5>首页</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li2.png" class="img-responsive"> </div>
                <h5>分类</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li3.png" class="img-responsive"> </div>
                <h5>品牌</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li4.png" class="img-responsive"> </div>
                <h5>购物车</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li5.png" class="img-responsive"> </div>
                <h5>我的</h5>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>




<!--js基本样式-->
<script type="text/javascript" src="$!webPath/resources/js/app/jquery.min.js"></script>
<script type="text/javascript" src="$!webPath/resources/js/app/bootstrap.min.js"></script>






</body>
</html>