<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- 样式 -->
    <link href="css/mystyle.css" rel="stylesheet">

</head>
<body>

<!--头部-->
<div class="ny-top1 ny-top2">
    <div class="ny-top-left2"><A href=""><img src="images/logo.png" class="img-responsive"></A>  </div>
    <div class="ny-top-cen2">
        <div class="ny-top-cen2-div1">
            <form name="searchform" id="search-form">
                <div>
                    <input type="text" name="txtInput">
                </div>
            </form>
            <div class="ny-top-cen2-div2"> <A href=""><img src="images/sys.png" class="img-responsive"> </A></div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="ny-top-right2"><A href=""><img src="images/ny-top-right2.png" class="img-responsive"></A>  </div>
    <div style="clear: both;"></div>
</div>


<!--内容1-->
<div class="wy13-div1">
    <h2>热门搜索</h2>
    <ul class="wy13-ul">
        <li><a href=""><h4>普拉达</h4></a> </li>
        <li class="wy13-li1"><a href=""><h4>卡地亚</h4></a> </li>
        <li><a href=""><h4>施华洛世奇</h4></a> </li>
        <li><a href=""><h4>阿玛尼</h4></a> </li>
        <li class="wy13-li1"><a href=""><h4>LV</h4></a> </li>
        <li><a href=""><h4>COMAVH</h4></a> </li>
        <div style="clear: both;"></div>
    </ul>
</div>




<!--内容2-->




<!--底部-->
<div class="db1"></div>
<div class="db">
    <ul>
        <li>
            <a href="">
                <div class="db-div1"><img src="images/db-li1.png" class="img-responsive"> </div>
                <h5>首页</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="images/db-li2.png" class="img-responsive"> </div>
                <h5>分类</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="images/db-li3.png" class="img-responsive"> </div>
                <h5>品牌</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="images/db-li4.png" class="img-responsive"> </div>
                <h5>购物车</h5>
            </a>
        </li>
        <li>
            <a href="">
                <div class="db-div1"><img src="images/db-li5.png" class="img-responsive"> </div>
                <h5>我的</h5>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>




<!--js基本样式-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>






</body>
</html>