<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- 样式 -->
    <link href="css/mystyle.css" rel="stylesheet">

</head>
<body>

<!--头部-->
<div class="ny-top1">
    <div class="ny-top-left"><A href=""><img src="images/ny-top-left.png" class="img-responsive"></A>  </div>
    <div class="ny-top-cen"><h2>Prada</h2></div>
    <div class="ny-top-right"><A href=""><img src="images/ny-top-right.png" class="img-responsive"></A>  </div>
    <div style="clear: both;"></div>
</div>


<!--内容1-->
<div class=" wy01-div1">
    <ul class="wy01-ul1">
        <li class="wy01-li1"><A href=""><h2>推荐</h2></A> </li>
        <li><A href=""><h2>分类</h2></A> </li>
        <div style="clear: both;"></div>
    </ul>
</div>


<!--内容2-->

<div class=" wy02-div2">
    <div class="wy02-div2-left">
        <ul>
            <li><h4>全部</h4></li>
            <li class="wy02-div2-li"><h4>服装</h4></li>
            <li><h4>箱包</h4></li>
            <li><h4>鞋履</h4></li>
            <li><h4>腕表</h4></li>
            <li><h4>配饰</h4></li>
            <Div style="clear:both;"></Div>
        </ul>
    </div>


    <div class="wy02-nr1">
        <ul class="wy02-nr1-ul">
            <li><A href=""><h5>单肩包</h5></A> </li>
            <li><A href=""><h5>钱包</h5></A> </li>
            <li><A href=""><h5>化妆包</h5></A> </li>
            <li><A href=""><h5>手拿包</h5></A> </li>
            <li><A href=""><h5>双肩背包</h5></A> </li>
            <li><A href=""><h5>钥匙包</h5></A> </li>
        </ul>
    </div>

    <div class="wy02-nr1" style="display:none;">
        <ul class="wy02-nr1-ul">
            <li><A href=""><h5>单肩包1</h5></A> </li>
            <li><A href=""><h5>钱包</h5></A> </li>
            <li><A href=""><h5>化妆包</h5></A> </li>
            <li><A href=""><h5>手拿包</h5></A> </li>
            <li><A href=""><h5>双肩背包</h5></A> </li>
            <li><A href=""><h5>钥匙包</h5></A> </li>
        </ul>
    </div>
    <div class="wy02-nr1" style="display:none;">
        <ul class="wy02-nr1-ul">
            <li><A href=""><h5>单肩包2</h5></A> </li>
            <li><A href=""><h5>钱包</h5></A> </li>
            <li><A href=""><h5>化妆包</h5></A> </li>
            <li><A href=""><h5>手拿包</h5></A> </li>
            <li><A href=""><h5>双肩背包</h5></A> </li>
            <li><A href=""><h5>钥匙包</h5></A> </li>
        </ul>
    </div>
    <div class="wy02-nr1" style="display:none;">
        <ul class="wy02-nr1-ul">
            <li><A href=""><h5>单肩包3</h5></A> </li>
            <li><A href=""><h5>钱包</h5></A> </li>
            <li><A href=""><h5>化妆包</h5></A> </li>
            <li><A href=""><h5>手拿包</h5></A> </li>
            <li><A href=""><h5>双肩背包</h5></A> </li>
            <li><A href=""><h5>钥匙包</h5></A> </li>
        </ul>
    </div>
    <div class="wy02-nr1" style="display:none;">
        <ul class="wy02-nr1-ul">
            <li><A href=""><h5>单肩包4</h5></A> </li>
            <li><A href=""><h5>钱包</h5></A> </li>
            <li><A href=""><h5>化妆包</h5></A> </li>
            <li><A href=""><h5>手拿包</h5></A> </li>
            <li><A href=""><h5>双肩背包</h5></A> </li>
            <li><A href=""><h5>钥匙包</h5></A> </li>
        </ul>
    </div>
    <div class="wy02-nr1" style="display:none;">
        <ul class="wy02-nr1-ul">
            <li><A href=""><h5>单肩包5</h5></A> </li>
            <li><A href=""><h5>钱包</h5></A> </li>
            <li><A href=""><h5>化妆包</h5></A> </li>
            <li><A href=""><h5>手拿包</h5></A> </li>
            <li><A href=""><h5>双肩背包</h5></A> </li>
            <li><A href=""><h5>钥匙包</h5></A> </li>
        </ul>
    </div>
</div>


<!--底部-->





<!--js基本样式-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>



<!--点击切换-->
<script>
    $('.wy02-div2-left ul li').mouseover(function(){
        var el_index=$(this).parent().find('li').index(this);
        $(this).parent().find('li').removeClass('wy02-div2-li');
        $(this).addClass('wy02-div2-li');
        $(this).parent().parent().parent().find(".wy02-nr1").hide();
        $(this).parent().parent().parent().find(".wy02-nr1").eq(el_index).show();
    });
</script>

</body>
</html>