<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- 样式 -->
    <link href="css/mystyle.css" rel="stylesheet">

</head>
<body>

<!--头部-->
<div class="ny-top1 wy17-top">
   <form class="wy17-form">
       <div class="wy17-top-div1">
           <input type="text">
           <button type="submit" class="btn"><img src="images/ss1.png" class="img-responsive"> </button>
           <div style="clear: both;"></div>
       </div>
   </form>
</div>


<!--内容1-->


<div class=" wy02-div2">
    <div class="wy02-div2-left wy17-div2-left">
        <ul>
            <li class="wy02-div2-li"><h4>服装</h4></li>
            <li><h4>箱包</h4></li>
            <li><h4>鞋履</h4></li>
            <li><h4>腕表</h4></li>
            <li><h4>配饰</h4></li>
            <Div style="clear:both;"></Div>
        </ul>
    </div>

    <div class="wy02-nr1 wy17-div2-right">
        <h5>奢品男装</h5>
        <ul class="wy17-nr1-ul">
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li class="wy17-li1">
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img1.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img2.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img3.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li class="wy17-li1">
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img4.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img5.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <div style="clear: both;"></div>
        </ul>
        <h5>简约女装</h5>
        <ul class="wy17-nr1-ul">
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li class="wy17-li1">
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img1.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img2.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img3.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li class="wy17-li1">
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img4.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <li>
                <A href="">
                    <div class="wy17-div-img"><img src="images/wy17-div-img5.png" class="img-responsive"> </div>
                    <h6>单肩包</h6>
                </A>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>

</div>



<!--底部-->
<div class="db1"></div>
<div class="db">
    <ul>
        <li>
            <a href="$!webPath/app/index.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li1.png" class="img-responsive"> </div>
                <h5>首页</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxClassic.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li2.png" class="img-responsive"> </div>
                <h5>分类</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxBrands.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li3.png" class="img-responsive"> </div>
                <h5>品牌</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxGoodsCar.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li4.png" class="img-responsive"> </div>
                <h5>购物车</h5>
            </a>
        </li>
        <li>
            <a href="$!webPath/app/luxMyInfo.htm">
                <div class="db-div1"><img src="$!webPath/resources/style/app/images/db-li5.png" class="img-responsive"> </div>
                <h5>我的</h5>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>




<!--js基本样式-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>



<!--点击切换
<script>
    $('.wy02-div2-left ul li').mouseover(function(){
        var el_index=$(this).parent().find('li').index(this);
        $(this).parent().find('li').removeClass('wy02-div2-li');
        $(this).addClass('wy02-div2-li');
        $(this).parent().parent().parent().find(".wy02-nr1").hide();
        $(this).parent().parent().parent().find(".wy02-nr1").eq(el_index).show();
    });
</script>
-->
</body>
</html>