<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="奢侈会">
    <meta name="Description" content="奢侈会">
    <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>奢侈会</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- 字体 -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- 样式 -->
    <link href="css/mystyle.css" rel="stylesheet">

</head>
<body>

<!--头部-->
<div class="ny-top1 wy20-ny-top1">
    <div class="ny-top-left"><A href=""><img src="images/ny-top-left.png" class="img-responsive"></A>  </div>
    <div class="ny-top-cen"><h2>品牌馆</h2></div>
    <div class="ny-top-right"><A href=""><h5>热门品牌</h5></A>  </div>
    <div style="clear: both;"></div>
</div>


<!--内容1-->
<div class="wy20-div1">
    <div class="wy20-left">
        <ul class="wy20-left-ul1">
            <li>
                <h4>A</h4>
                <div class="wy20-div2">
                    <h5><A href="">FENDI/芬迪</A> </h5>
                    <h5><A href="">voyagetime/微缇</A> </h5>
                    <h5><A href=""> BURBERRY(博柏利)</A> </h5>
                    <h5><A href="">Bottega Veneta</A> </h5>
                    <h5><A href=""> MARK GIUSTI</A> </h5>
                    <h5><A href="">COACH/蔻驰</A> </h5>
                    <h5><A href="">Michael Kors/迈克·科尔斯</A> </h5>
                    <h5><A href="">THE EMPORIUM 2016SS</A> </h5>
                    <h5><A href="">talented/talented</A> </h5>
                </div>
            </li>
            <li>
                <h4>B</h4>
                <div class="wy20-div2">
                    <h5><A href="">FENDI/芬迪</A> </h5>
                    <h5><A href="">voyagetime/微缇</A> </h5>
                    <h5><A href=""> BURBERRY(博柏利)</A> </h5>
                    <h5><A href="">Bottega Veneta</A> </h5>
                    <h5><A href=""> MARK GIUSTI</A> </h5>
                    <h5><A href="">COACH/蔻驰</A> </h5>
                    <h5><A href="">Michael Kors/迈克·科尔斯</A> </h5>
                    <h5><A href="">THE EMPORIUM 2016SS</A> </h5>
                    <h5><A href="">talented/talented</A> </h5>
                </div>
            </li>
            <li>
                <h4>C</h4>
                <div class="wy20-div2">
                    <h5><A href="">FENDI/芬迪</A> </h5>
                    <h5><A href="">voyagetime/微缇</A> </h5>
                    <h5><A href=""> BURBERRY(博柏利)</A> </h5>
                    <h5><A href="">Bottega Veneta</A> </h5>
                    <h5><A href=""> MARK GIUSTI</A> </h5>
                    <h5><A href="">COACH/蔻驰</A> </h5>
                    <h5><A href="">Michael Kors/迈克·科尔斯</A> </h5>
                    <h5><A href="">THE EMPORIUM 2016SS</A> </h5>
                    <h5><A href="">talented/talented</A> </h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="wy20-right">
        <ul>
            <li><a href="">#</a> </li>
            <li><a href="">A</a> </li>
            <li><a href="">B</a> </li>
            <li><a href="">C</a> </li>
            <li><a href="">D</a> </li>
            <li><a href="">E</a> </li>
            <li><a href="">F</a> </li>
            <li><a href="">G</a> </li>
            <li><a href="">H</a> </li>
            <li><a href="">I</a> </li>
            <li><a href="">J</a> </li>
            <li><a href="">K</a> </li>
            <li><a href="">M</a> </li>
            <li><a href="">N</a> </li>
            <li><a href="">O</a> </li>
            <li><a href="">P</a> </li>
            <li><a href="">Q</a> </li>
            <li><a href="">R</a> </li>
            <li><a href="">S</a> </li>
            <li><a href="">T</a> </li>
            <li><a href="">U</a> </li>
            <li><a href="">V</a> </li>
            <li><a href="">W</a> </li>
            <li><a href="">X</a> </li>
            <li><a href="">Y</a> </li>
            <li><a href="">Z</a> </li>
        </ul>
    </div>
    <div style="clear: both;"></div>
</div>




<!--内容2-->




<!--底部-->





<!--js基本样式-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>




<!--CSS3垂直手风琴折叠菜单-->
<script>
    $(function() {
        var Accordion = function(el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }
        Accordion.prototype.dropdown = function(e) {
            var $el = e.data.el;
            $this = $(this),
                    $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }
        var accordion = new Accordion($('#accordion'), false);
    });
</script>


</body>
</html>